<h1>Book detail</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>

	<tbody>
		
		<tr>
			<td><%= @book.title %></td>
			<td><%= @book.body %></td>
		</tr>
	
	</tbody>
</table>

<!-- 部分テンプレート -->

<%= render 'users/topleft',user:@book.user %>
<%= render 'books/bottomleft',book:@book %>